<nav class="landing-nav-wrapper">
  <ul class="landing-nav-list">
    <li><a href="home.html" class="landing-nav-item">Home</a></li>
    <li><a href="/portfolio/projects.html" class="landing-nav-item">Portfolio</a></li>
    <li><a href="/" class="landing-nav-item">NDA work</a></li>
    <li><a href="resume.html" class="landing-nav-item">Resume</a></li>
    <li><a href="aboutme.html" class="landing-nav-item">About Me</a></li>
    <li><a href="contact.html" class="landing-nav-item">Contact</a></li>
  </ul>
</nav>