/* !!--------------------------------------Styling Settings---------------------------------------!! */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --body-background-color: #141418;
    --desktop-body-content-container-padding: 0% 0% 5% 0%;
    --mobile-body-content-container-padding: 0% 0% 0% 0%;
}

/* !!--------------------------------------Advanced Settings--------------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--body-background-color);
    overflow-x: hidden;
}

.body_content {
    flex: 1;
    min-width: 0;
    padding: var(--desktop-body-content-container-padding);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.8s ease-in;
    overflow-x: hidden;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 991px) {
    .body_content {
        padding: var(--mobile-body-content-container-padding);
        width: 100%;
    }
}

/* !!---------------------------------------------------------------------------------------------!! */

h1 {
    color: white;
    font-size: 35px;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 0 10px 0;
    text-align: center;
}

h2 {
    color: white;
    font-size: 20px;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 0 10px 0;
    text-align: left;
    transition: .2s;
}

h3 {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    /* text-align: justify; */
}

h4 {
    color: #a6abb8;
    font-size: 12px;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    text-align: center;
}

.body_item {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.body_item_wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    padding: 3% 20% 0% 20%;
}




/* CUSTOM --------------------------------------------------------------------  */



/* Cards --------------------------------------------------------------------  */

.card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    row-gap: 60px;
}

.card-item {
    position: relative;
    aspect-ratio: 2/3;
    cursor: pointer;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.card-img {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: .5s;
}

.title-card {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10%;
    background-color: #1d1d25;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
}


.card-text {
    color: #bdbdbd;
    font-size: 0.6vw;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    transition: .2s;
}

.card-item:hover .card-img,
.card-item:hover .card-text {
    transform: scale(1.05);
}



/* Banner Pages --------------------------------------------------------------------  */

.banner-item {
    display: flex;
    align-self: center;
    background-color: grey;
    width: 100%;
    height: 25vw;
}


.info-item {
    display: flex;
    position: relative;
    align-self: center;
    outline: 1px solid #3888ff;
    border-radius: 5px;
    width: 70%;
    height: auto;
    padding: 25px 20px 25px 40px;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.exc_symbol {
    position: absolute;
    height: 45px;
    right: 0;
    top: -20px;
}