/* !!--------------------------------------Styling Settings---------------------------------------!! */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
    --body-background-color: #141418;
    --desktop-body-content-container-padding: 3% 13% 5% 18%;
    --mobile-body-content-container-padding: 5vw 8vw 5vw;
}

/* !!--------------------------------------Advanced Settings---------------------------------------!! */

body {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--body-background-color);
}

.body_content {
    flex: 1;
    min-width: 0;
    padding: var(--desktop-body-content-container-padding);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    animation: fadeIn 0.8s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 991px) {  
    .body_content {
        padding: var(--mobile-body-content-container-padding); 
    }
}

/* !!---------------------------------------------------------------------------------------------!! */

h1 {
    color: white;
    font-size: 35px;
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 0 10px 0;
    text-align: center;
}

h2 {
    color: white;
    font-size: 25px;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin: 0 0 10px 0;
    text-align: center;
}

.body_item {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.body_item_wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

